nav {
  display: flex;
  justify-content: center;
}
.buttons {
  width: 350px;
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
  background-color: rgb(27, 133, 219);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    rgba(27, 133, 219, 0.5) 5px 10px 15px;
  border-radius: 10px;
  button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    color: #fff;
    width: 40px;
    height: 40px;
    transition: all 180ms ease-in-out 0.3ms;
    &:hover {
      transform: translateY(-4px);
      background-color: #fff;
      color: #000;
      box-shadow: #fff 0px 5px 15px;
    }
    .icons {
      font-size: 30px;
    }
  }
}
